<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申请报告</title>
    <link rel="stylesheet" href="/static/Bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/FileSaver.js"></script>
    <script type="text/javascript" src="/static/js/jquery.wordexport.js"></script>
    <style>
        pre {
            white-space: pre-wrap; /* css-3 */
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */
            word-break: break-all;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">
    <form id="info">
        {#    {% csrf_token %}#}
        | 基本信息：
        <table id="t1">
            <tbody>
            <tr>
                <td>项目名称</td>
                <td><input type="text" name="pro_name" readonly="true" value={{ info.pro_name }}></td>
                <td>选题方式</td>
                <td>
                    <select name="pro_way">
                        <option value="从开放实验项目库中选取">从开放实验项目库中选取</option>
                        <option value="项目组成员自主命题">项目组成员自主命题</option>
                        <option value="其它">其它</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>负责人手机号码</td>
                <td><input type="text" name="leader_phone" readonly="true" value={{ info.leader_phone }}></td>
                <td>负责人电子邮箱</td>
                <td><input type="email" name="leader_email" readonly="true" value={{ info.leader_email }}></td>
            </tr>
            </tbody>
        </table>
        | 导师信息：
        <table id="t2">
            <tbody>
            <tr>
                <td>导师姓名</td>
                <td><input type="text" name="tutor_name" id="tutor_name" readonly="true" value={{ info.tutor_name }}>
                </td>
                <td>导师研究专长</td>
                <td><input type="text" name="tutor_area" value={{ info.tutor_area }}></td>
            </tr>
            <tr>
                <td>导师联系电话</td>
                <td><input type="text" name="tutor_phone" value={{ info.tutor_phone }}></td>
                <td>导师电子邮箱</td>
                <td><input type="email" name="tutor_email" value={{ info.tutor_email }}></td>
            </tr>
            </tbody>
        </table>

        <table id="t3">
            | 项目参与人信息：（请将主要负责人写在第一个）
            <tbody>
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>学号</th>
                <th>年级</th>
                <th>研究专长</th>
                <th>承担工作</th>
                <th>所在学院</th>
            </tr>
            <tr>
                <td><input type="text" name="pro_leader" id="pro_leader" readonly="true" value={{ info.pro_leader }}>
                </td>
                <td><input type="text" name="leader_sex" readonly="true" value={{ info.leader_sex }}></td>
                <td><input type="text" name="leader_id" readonly="true" value={{ info.leader_id }}></td>
                <td><input type="text" name="leader_grade" value={{ info.leader_grade }}></td>
                <td><input type="text" name="leader_area" value={{ info.leader_area }}></td>
                <td><input type="text" name="leader_job" value={{ info.leader_job }}></td>
                <td><input type="text" name="leader_institute" readonly="true" value={{ info.leader_institute }}></td>
            </tr>
            <tr>
                <td><input type="text" name="mem1_name" value={{ info.mem1_name }}></td>
                <td><input type="text" name="mem1_sex" value={{ info.mem1_sex }}></td>
                <td><input type="text" name="mem1_stuID" value={{ info.mem1_stuID }}></td>
                <td><input type="text" name="mem1_grade" value={{ info.mem1_grade }}></td>
                <td><input type="text" name="mem1_area" value={{ info.mem1_area }}></td>
                <td><input type="text" name="mem1_job" value={{ info.mem1_job }}></td>
                <td><input type="text" name="mem1_institute" value={{ info.mem1_institute }}></td>
            </tr>
            <tr>
                <td><input type="text" name="mem2_name" value={{ info.mem2_name }}></td>
                <td><input type="text" name="mem2_sex" value={{ info.mem2_sex }}></td>
                <td><input type="text" name="mem2_stuID" value={{ info.mem2_stuID }}></td>
                <td><input type="text" name="mem2_grade" value={{ info.mem2_grade }}></td>
                <td><input type="text" name="mem2_area" value={{ info.mem2_area }}></td>
                <td><input type="text" name="mem2_job" value={{ info.mem2_job }}></td>
                <td><input type="text" name="mem2_institute" value={{ info.mem2_institute }}></td>
            </tr>
            <tr>
                <td><input type="text" name="mem3_name" value={{ info.mem3_name }}></td>
                <td><input type="text" name="mem3_sex" value={{ info.mem3_sex }}></td>
                <td><input type="text" name="mem3_stuID" value={{ mem3_stuID }}></td>
                <td><input type="text" name="mem3_grade" value={{ info.leader_grade }}></td>
                <td><input type="text" name="mem3_area" value={{ info.mem3_area }}></td>
                <td><input type="text" name="mem3_job" value={{ info.mem3_job }}></td>
                <td><input type="text" name="mem3_institute" value={{ info.mem3_institute }}></td>
            </tr>
            </tbody>
        </table>
        <div id="d1">
            | 项目具体信息：<br>
            一、项目申请理由（包括：项目研究背景、现状、研究目的及意义等，不超过800字）<br>
            <textarea rows="10" cols="150" name="pro_reason" wrap="hard" id="text1">{{ info.pro_reason }}
        </textarea><br>
            二、项目研究内容（包括：项目研究内容、基本思路和方法，不超过1000字）<br>
            <textarea rows="10" cols="150" name="pro_content" wrap="hard" id="text2">{{ info.pro_content }}
        </textarea><br>
            三、项目创新之处（不超过500字）<br>
            <textarea rows="8" cols="150" name="pro_innovation" wrap="hard" id="text3">{{ info.pro_innovation }}
        </textarea><br>
            四、项目拟利用资源（包括：实验室、设备、材料、场地等，不超过300字））<br>
            <textarea rows="4" cols="150" name="pro_source" wrap="hard" id="text4">{{ info.pro_source }}
        </textarea><br>
            <table id="t4">
                五、项目进度安排
                <tbody>
                <tr>
                    <th>时间</th>
                    <th>研究内容</th>
                    <th>主要负责人</th>
                </tr>
                <tr>
                    <td><input type="text" name="time1" value={{ info.time1 }}></td>
                    <td><input type="text" name="content1" value={{ info.content1 }}></td>
                    <td><input type="text" name="leader1" value={{ info.leader1 }}></td>
                </tr>
                <tr>
                    <td><input type="text" name="time2" value={{ info.time2 }}></td>
                    <td><input type="text" name="content2" value={{ info.content2 }}></td>
                    <td><input type="text" name="leader2" value={{ info.leader2 }}></td>
                </tr>
                <tr>
                    <td><input type="text" name="time3" value={{ info.time3 }}></td>
                    <td><input type="text" name="content3" value={{ info.content3 }}></td>
                    <td><input type="text" name="leader3" value={{ info.leader3 }}></td>
                </tr>
                <tr>
                    <td><input type="text" name="time4" value={{ info.time4 }}></td>
                    <td><input type="text" name="content4" value={{ info.content4 }}></td>
                    <td><input type="text" name="leader4" value={{ info.leader4 }}></td>
                </tr>
                <tr>
                    <td><input type="text" name="time5" value={{ info.time5 }}></td>
                    <td><input type="text" name="content5" value={{ info.content5 }}></td>
                    <td><input type="text" name="leader5" value={{ info.leader5 }}></td>
                </tr>
                <tr>
                    <td><input type="text" name="time6" value={{ info.time6 }}></td>
                    <td><input type="text" name="content6" value={{ info.content6 }}></td>
                    <td><input type="text" name="leader6" value={{ info.leader6 }}></td>
                </tr>
                <tr>
                    <td><input type="text" name="time7" value={{ info.time7 }}></td>
                    <td><input type="text" name="content7" value={{ info.content7 }}></td>
                    <td><input type="text" name="leader7" value={{ info.leader7 }}></td>
                </tr>
                </tbody>
            </table>
            <table id="t5">
                六、预期研究成果<br>
                <tbody>
                <tr>
                    <th>最终成果名称</th>
                    <th>完成时间</th>
                    <th>成果形式</th>
                    <th>参加人</th>
                </tr>
                <tr>
                    <td><input type="text" name="pro_achievement" value={{ pro_achievement }}></td>
                    <td><input type="text" name="pro_endtime" value={{ pro_endtime }}></td>
                    <td><input type="text" name="pro_form" value={{ pro_form }}></td>
                    <td><input type="text" name="pro_participant" value={{ pro_participant }}></td>
                </tr>
                </tbody>
            </table>
            <table id="t6">
                七、经费预算（以人民币元为单位）<br>
                <tbody>
                <tr>
                    <th>预算支出科目</th>
                    <th>支出金额（元）</th>
                    <th>预算依据及理由</th>
                </tr>
                <tr>
                    <td>设备费</td>
                    <td><input type="text" name="budget_equip_money" value={{ budget_equip_money }}></td>
                    <td><input type="text" name="budget_equip_reason" value={{ budget_equip_reason }}></td>
                </tr>
                <tr>
                    <td>材料费</td>
                    <td><input type="text" name="budget_material_money" value={{ budget_material_money }}></td>
                    <td><input type="text" name="budget_material_reason" value={{ budget_material_reason }}></td>
                </tr>
                <tr>
                    <td>小型会议费</td>
                    <td><input type="text" name="budget_meeting_money" value={{ budget_meeting_money }}></td>
                    <td><input type="text" name="budget_meeting_reason" value={{ budget_meeting_reason }}></td>
                </tr>
                <tr>
                    <td>印刷、版面、专利申请费</td>
                    <td><input type="text" name="budget_apply_money" value={{ budget_apply_money }}></td>
                    <td><input type="text" name="budget_apply_reason" value={{ budget_apply_reason }}></td>
                </tr>
                <tr>
                    <td>图书、资料费</td>
                    <td><input type="text" name="budget_books_money" value={{ budget_books_money }}></td>
                    <td><input type="text" name="budget_books_reason" value={{ budget_books_reason }}></td>
                </tr>
                <tr>
                    <td>交通、差旅费</td>
                    <td><input type="text" name="budget_trans_money" value={{ budget_trans_money }}></td>
                    <td><input type="text" name="budget_trans_reason" value={{ budget_trans_reason }}></td>
                </tr>
                <tr>
                    <td>劳务、咨询费</td>
                    <td><input type="text" name="budget_service_money" value={{ budget_service_money }}></td>
                    <td><input type="text" name="budget_service_reason" value={{ budget_service_reason }}></td>
                </tr>
                <tr>
                    <td>其他经费</td>
                    <td><input type="text" name="budget_other_money" value={{ budget_other_money }}></td>
                    <td><input type="text" name="budget_other_reason" value={{ budget_other_reason }}></td>
                </tr>
                <tr>
                    <td>合计</td>
                    <td colspan="2"><input type="text" name="budget_total_money" value={{ budget_total_money }}></td>
                </tr>
                </tbody>
            </table>
        </div>

        <input hidden name="status" id="status" value="0">
    </form>
    <p style="color:red">【注】提交后无法更改！</p>
    <button type="button" id="save">保存</button>
    <button type="button" id="sub">提交</button>
    <button type="button" id="close">关闭</button>
</div>
<script>
    $(document).ready(function () {
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
        var nameCount = 1;
        var processingCount = 2;
        var s;
        $('#save').click(function () {
            var data = $('#info').serializeArray();
            console.log(data);
            $.ajax({
                url: '/apply_save',
                data: {
                    'info': JSON.stringify(data)
                },
                type: 'POST',
                success: function (data) {
                    alert('保存成功！');
                },
                error: function (data) {
                    console.log(data);
                }
            })
        });
        $('#sub').click(function () {
            if (confirm("确认提交吗") == true) {
                $('#status').val('1');
                var data = $('#info').serializeArray();
                console.log(data);
                $.ajax({
                    url: '/apply_save',
                    data: {
                        'info': JSON.stringify(data)
                    },
                    type: 'POST',
                    success: function (data) {
                        console.log(data);
                        alert('提交成功！');
                        window.location.href = '/base';
                    },
                    error: function (data) {
                        console.log(data);
                    }
                })
            }
        });
    });
    $('#close').click(function () {
        window.location.href = '/base'
    });

</script>
</body>
</html>