<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申请报告</title>
    <link rel="stylesheet" href="/static/Bootstrap/css/bootstrap.min.css">
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/js/FileSaver.js"></script>
    <script type="text/javascript" src="/static/js/jquery.wordexport.js"></script>
    <style>
        pre {
            white-space: pre-wrap; /* css-3 */
            white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
            word-wrap: break-word; /* Internet Explorer 5.5+ */
            word-break: break-all;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="container">
    <a class="text-center" href="{% url 'account:edit_my_pro_apply' %}">修改</a>
    <form id="info">
        {% csrf_token %}
        | 基本信息：
        <table id="t1" class="table table-bordered">
            <tbody>
            <tr>
                <td>项目名称:</td>
                <td>{{ userproinfo.pro_name }}</td>
                <td>选题方式:</td>
                <td>{{ proapply.pro_way }}</td>
            </tr>
            <tr>
                <td>负责人手机号码:</td>
                <td>{{ userinfo.phone }}</td>
                <td>负责人电子邮箱:</td>
                <td>{{ userinfo.email }}</td>
            </tr>
            </tbody>
        </table>
        | 导师信息：
        <table id="t2" class="table table-bordered">
            <tbody>
            <tr>
                <td>导师姓名:</td>
                <td>{{ userproinfo.tutor }}</td>
                <td>导师研究专长:</td>
                <td>{{ proapply.tutor_area }}</td>
            </tr>
            <tr>
                <td>导师联系电话:</td>
                <td>{{ proapply.tutor_phone }}</td>
                <td>导师电子邮箱:</td>
                <td>{{ proapply.tutor_email }}</td>
            </tr>
            </tbody>
        </table>

        <table id="t3" class="table table-bordered">
            | 项目参与人信息：（请将主要负责人写在第一个）
            <tbody>
            <tr>
                <th>姓名</th>
                <th>性别</th>
                <th>学号</th>
                <th>年级</th>
                <th>研究专长</th>
                <th>承担工作</th>
                <th>所在学院</th>
            </tr>
            <tr>
                <td>{{ userinfo.name }}</td>
                <td>{{ userinfo.sex }}</td>
                <td>{{ userinfo.user }}</td>
                <td>{{ proapply.leader_grade }}</td>
                <td>{{ proapply.leader_area }}</td>
                <td>{{ proapply.leader_job }}</td>
                <td>{{ userinfo.institute }}</td>
            </tr>
            <tr>
                <td>{{ proapply.mem1_name }}</td>
                <td>{{ proapply.mem1_sex }}</td>
                <td>{{ proapply.mem1_stuID }}</td>
                <td>{{ proapply.mem1_grade }}</td>
                <td>{{ proapply.mem1_area }}</td>
                <td>{{ proapply.mem1_job }}</td>
                <td>{{ proapply.mem1_institute }}</td>
            </tr>
            <tr>
                <td>{{ proapply.mem2_name }}</td>
                <td>{{ proapply.mem2_sex }}</td>
                <td>{{ proapply.mem2_stuID }}</td>
                <td>{{ proapply.mem2_grade }}</td>
                <td>{{ proapply.mem2_area }}</td>
                <td>{{ proapply.mem2_job }}</td>
                <td>{{ proapply.mem2_institute }}</td>
            </tr>
            <tr>
                <td>{{ proapply.mem3_name }}</td>
                <td>{{ proapply.mem3_sex }}</td>
                <td>{{ proapply.mem3_stuID }}</td>
                <td>{{ proapply.mem3_grade }}</td>
                <td>{{ proapply.mem3_area }}</td>
                <td>{{ proapply.mem3_job }}</td>
                <td>{{ proapply.mem3_institute }}</td>
            </tr>
            </tbody>
        </table>
        <div id="d1">
            | 项目具体信息：<br>
            一、项目申请理由（包括：项目研究背景、现状、研究目的及意义等，不超过800字）<br>
            {{ proapply.pro_reason }}<br>
            二、项目研究内容（包括：项目研究内容、基本思路和方法，不超过1000字）<br>
            {{ proapply.pro_content }}<br>
            三、项目创新之处（不超过500字）<br>
            {{ proapply.pro_innovation }}<br>
            四、项目拟利用资源（包括：实验室、设备、材料、场地等，不超过300字））<br>
            {{ proapply.pro_source }}<br>
            <table id="t4" class="table table-bordered">
                五、项目进度安排
                <tbody>
                <tr>
                    <th>时间</th>
                    <th>研究内容</th>
                    <th>主要负责人</th>
                </tr>
                <tr>
                    <td>{{ proapply.time1 }}</td>
                    <td>{{ proapply.content1 }}</td>
                    <td>{{ proapply.leader1 }}</td>
                </tr>
                <tr>
                    <td>{{ proapply.time2 }}</td>
                    <td>{{ proapply.content2 }}</td>
                    <td>{{ proapply.leader2 }}</td>
                </tr>
                <tr>
                    <td>{{ proapply.time3 }}</td>
                    <td>{{ proapply.content3 }}</td>
                    <td>{{ proapply.leader3 }}</td>
                </tr>
                <tr>
                    <td>{{ proapply.time4 }}</td>
                    <td>{{ proapply.content4 }}</td>
                    <td>{{ proapply.leader4 }}</td>
                </tr>
                <tr>
                    <td>{{ proapply.time5 }}</td>
                    <td>{{ proapply.content5 }}</td>
                    <td>{{ proapply.leader5 }}</td>
                </tr>
                <tr>
                    <td>{{ proapply.time6 }}</td>
                    <td>{{ proapply.content6 }}</td>
                    <td>{{ proapply.leader6 }}</td>
                </tr>
                <tr>
                    <td>{{ proapply.time7 }}</td>
                    <td>{{ proapply.content7 }}</td>
                    <td>{{ proapply.leader7 }}</td>
                </tr>
                </tbody>
            </table>
            <table id="t5" class="table table-bordered">
                六、预期研究成果<br>
                <tbody>
                <tr>
                    <th>最终成果名称</th>
                    <th>完成时间</th>
                    <th>成果形式</th>
                    <th>参加人</th>
                </tr>
                <tr>
                    <td>{{ proapply.pro_achievement }}</td>
                    <td>{{ proapply.pro_endtime }}</td>
                    <td>{{ proapply.pro_form }}</td>
                    <td>{{ proapply.pro_participant }}</td>
                </tr>
                </tbody>
            </table>
            <table id="t6" class="table table-bordered">
                七、经费预算（以人民币元为单位）<br>
                <tbody>
                <tr>
                    <th>预算支出科目</th>
                    <th>支出金额（元）</th>
                    <th>预算依据及理由</th>
                </tr>
                <tr>
                    <td>设备费</td>
                    <td>{{ proapply.budget_equip_money }}</td>
                    <td>{{ proapply.budget_equip_reason }}</td>
                </tr>
                <tr>
                    <td>材料费</td>
                    <td>{{ proapply.budget_material_money }}</td>
                    <td>{{ proapply.budget_material_reason }}</td>
                </tr>
                <tr>
                    <td>小型会议费</td>
                    <td>{{ proapply.budget_meeting_money }}</td>
                    <td>{{ proapply.budget_meeting_reason }}</td>
                </tr>
                <tr>
                    <td>印刷、版面、专利申请费</td>
                    <td>{{ proapply.budget_apply_money }}</td>
                    <td>{{ proapply.budget_apply_reason }}</td>
                </tr>
                <tr>
                    <td>图书、资料费</td>
                    <td>{{ proapply.budget_books_money }}</td>
                    <td>{{ proapply.budget_books_reason }}</td>
                </tr>
                <tr>
                    <td>交通、差旅费</td>
                    <td>{{ proapply.budget_trans_money }}</td>
                    <td>{{ proapply.budget_trans_reason }}</td>
                </tr>
                <tr>
                    <td>劳务、咨询费</td>
                    <td>{{ proapply.budget_service_money }}</td>
                    <td>{{ proapply.budget_service_reason }}</td>
                </tr>
                <tr>
                    <td>其他经费</td>
                    <td>{{ proapply.budget_other_money }}</td>
                    <td>{{ proapply.budget_other_reason }}</td>
                </tr>
                <tr>
                    <td>合计</td>
                    <td colspan="2">{{ proapply.budget_total_money }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </form>
    <button type="button" id="close" class="btn btn-primary btn-lg">关闭</button>
</div>
<script>
    $('#close').click(function () {
        window.location.href = "{% url 'account:account_home' %}"
    });
</script>
</body>
</html>