{% extends 'base.html' %}
{% block title %}我的项目信息{% endblock %}
{% block content %}
    <h1 class="text-center">项目信息</h1>
    <a id="modify" class="text-center" href="{% url 'account:edit_my_pro_information' %}">修改</a>
    <table class="table table-sm">
        <tr>
            <td>学号：</td>
            <td>{{ user.username }}</td>
        </tr>
        <tr>
            <td>导师：</td>
            <td>{{ userproinfo.tutor }}</td>
        </tr>
        <tr>
            <td>项目名称：</td>
            <td>{{ userproinfo.pro_name }}</td>
        </tr>
    </table>
{% endblock %}
{% block script %}
    <script>
        $(document).ready(function () {
            var nowDate = new Date();
            var year = nowDate.getFullYear();
            var month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;
            var date = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();
            var today = year + month + date;
            console.log(today);
            $.ajax({
                url: '{% url "account:get_status" %}',
                success: function (data) {
                    var date = data['date'];
                    console.log(date);
                    if (date < today) {
                        $('#modify').attr('href', 'javascript:alertvoid()');
                    }
                }
            });
        });
    var alertvoid = function () {
        alert('项目信息可修改日期已截止！如需修改，请联系相关负责人！');
    };

    </script>
{% endblock %}