{% extends 'manager/infolist.html' %}
{% block headline %}
    <h2 class="text-center text-secondary">申请报告提交情况</h2>
{% endblock %}
{% block script %}
{#    <script type="text/javascript" src="/static/js/jqpaginator.min.js"></script>#}
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
        $("#checkAll").click(function () {
            var isChecked = $(this).prop("checked");
            $(".subCheckbox").prop("checked", isChecked);
        });
        $("#export").click(function () {
            var data = $('#infolist').serializeArray();
            console.log(JSON.stringify(data));
            if (data.length > 1) {
                $.ajax({
                    {#                url: '/export',#}
                    url: '{% url "manager:write_to_apply" %}',
                    data: {
                        'choicelist': JSON.stringify(data)
                    },
                    type: 'POST',
                    success: function (data) {
                        if (data == 'error') {
                            alert('没有选择！');
                        }
                        else {
                            console.log(data);
                            var pathlist = data['path'];
                            for (var i = 0; i < pathlist.length; i++) {
                                window.open('/download-file?url=' + pathlist[i]);
                                console.log('第' + i.toString() + '次');
                            }
                            window.location.reload();
                        }

                    },
                    error: function (data) {
                        console.log(data);
                    }

                });
            }
            else {
                alert('没有选中任何选项！')
            }
        });
{#        $.jqPaginator('#pagination0', {#}
{#            totalPages: {{ page }},#}
{#            visiblePages: 5,#}
{#            currentPage: {{ pageIndex }},#}
{#            onPageChange: function (page, type) {#}
{#                if (type == 'change') {#}
{#                    window.location.href = '/admin/base/apply_infolist?pageIndex=' + page;#}
{#                }#}
{##}
{#            }#}
{##}
{#        });#}
    </script>
{% endblock %}