{% extends 'manager_base.html' %}
{% block title %}项目信息{% endblock %}
{% block headline %}
    <h2 class="text-center text-secondary">其他文件提交情况</h2>
{% endblock %}
{% block content %}
    <button type="button" class="btn btn btn-outline-secondary btn-sm" id="export">导出</button>
    <form id="infolist">
        {% csrf_token %}
        <table class="table table-bordered">
            <thead class="thead-light">
            {% if infolist %}
                <tr>
                    <th>数目</th>
                    <th>文件名</th>
                    <th><input type="checkbox" id="checkAll">全选</th>
                </tr>
                </thead>
                <tbody>
                {% for i in infolist %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i }}</td>
                        <td><input type="checkbox" class="subCheckbox" name="choice{{ forloop.counter }}"
                                   value={{ i }}></td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </form>
{% endblock %}
{% block script %}
    <script type="text/javascript" src="/static/js/jqpaginator.min.js"></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        });
        $("#checkAll").click(function () {
            var isChecked = $(this).prop("checked");
            $(".subCheckbox").prop("checked", isChecked);
        });
        $("#export").click(function () {
            var data = $('#infolist').serializeArray();
            console.log(JSON.stringify(data));
            if (data.length > 1) {
                $.ajax({
                    url: '{% url "manager:write_to_others" %}',
                    data: {
                        'choicelist': JSON.stringify(data)
                    },
                    type: 'POST',
                    success: function (data) {
                        if (data == 'error') {
                            alert('没有选择！');
                        }
                        else {
                            console.log(data);
                            var pathlist = data['path'];
                            for (var i = 0; i < pathlist.length; i++) {
                                window.open('/download-file?url=' + pathlist[i]);
                                console.log('第' + i.toString() + '次');
                            }
                            window.location.reload();
                        }

                    },
                    error: function (data) {
                        console.log(data);
                    }

                });
            }
            else {
                alert('没有选中任何选项！')
            }
        });
    </script>
{% endblock %}