<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/Bootstrap/css/bootstrap.css">
    <script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/Bootstrap/js/bootstrap.bundle.js"></script>
    <script type="text/javascript" src="/static/Bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
{% block nav %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'panel:panel_home' %}">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
{#                        <a class="nav-link" href="{% url 'panel:panel_mypro' %}">我的项目</a>#}
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            我的信息
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'account:my_information' %}">基本信息</a>
                            <a class="dropdown-item" href="{% url 'account:my_pro_information' %}">项目信息</a>
                            <a class="dropdown-item" href="{% url 'account:password_change' %}">修改密码</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle disabled" id="navbarDropdownMenuLink2" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            申请书
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/apply">在线填写</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle disabled" id="navbarDropdownMenuLink3" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            中期报告
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/middle">在线填写</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle disabled" id="navbarDropdownMenuLink4" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">
                            结题报告
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/conclude">在线填写</a>
                            {#                        <a class="dropdown-item" href="#">下载模板</a>#}
                            <a class="dropdown-item" href="/upload_conclude">上传文件</a>
                        </div>
                    </li>
                </ul>
                {% if user.is_authenticated %}
                 <a class="mr-sm-2">--欢迎--{{ user.username }}</a>
                <button class="btn btn-outline-primary my-2 my-sm-0" onclick="javascript:logout()">注销</button>
                {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}
<div class="container">{% block content %}{% endblock %}</div>

<script>
{#    $(document).ready(function () {#}
{#        var nowDate = new Date();#}
{#        var year = nowDate.getFullYear();#}
{#        var month = nowDate.getMonth() + 1 < 10 ? "0" + (nowDate.getMonth() + 1) : nowDate.getMonth() + 1;#}
{#        var date = nowDate.getDate() < 10 ? "0" + nowDate.getDate() : nowDate.getDate();#}
{#        var today = year + month + date;#}
{#        console.log(today);#}
{#        $.ajax({#}
{#            url: '/nav_status',#}
{#            success: function (data) {#}
{#                var status = data['status'];#}
{#                var date = data['date'];#}
{#                console.log(date);#}
{#                if (date < today) {#}
{#                    $('#proinfo').attr('href', 'javascript:alertvoid()');#}
{#                }#}
{#                if (status == 1) {#}
{#                    $('#navbarDropdownMenuLink2').removeClass('disabled');#}
{#                    $('#navbarDropdownMenuLink2').attr('href', '');#}
{#                }#}
{#                else if (status == 2) {#}
{#                    $('#navbarDropdownMenuLink3').removeClass('disabled');#}
{#                    $('#navbarDropdownMenuLink3').attr('href', '');#}
{#                }#}
{#                else if (status == 3) {#}
{#                    $('#navbarDropdownMenuLink4').removeClass('disabled');#}
{#                    $('#navbarDropdownMenuLink4').attr('href', '');#}
{#                }#}
{#            }#}
{#        });#}
{#    });#}
{#    var alertvoid = function () {#}
{#        alert('项目信息可修改日期已截止！如需修改，请联系相关负责人！');#}
{#    };#}
{#    var logout = function(){#}
{#        window.location.href = "{% url 'account:user_logout' %}"#}
{#    }#}
</script>
{% block script %}{% endblock %}
</body>
</html>